In [1]:
import pandas as pd
import matplotlib as mt
import numpy as np

In [3]:
df = pd.read_csv('D:\student_exam_data.csv')

In [6]:
df.head(8)

   Study Hours  Previous Exam Score  Pass/Fail
0     4.370861            81.889703          0
1     9.556429            72.165782          1
2     7.587945            58.571657          0
3     6.387926            88.827701          1
4     2.404168            81.083870          0
5     2.403951            49.757016          0
6     1.522753            94.655631          0
7     8.795585            89.352235          1

In [29]:
#Calculating how many hours on ave, min & max two groups of students studied
study_hours = df.groupby('Pass/Fail', as_index=False)\
    .agg({'Study Hours': ['mean', 'min', 'max']}).round(0)

study_hours.columns = ['Pass/Fail', 'mean_study_hours', 'min_study_hours', 'max_study_hours']

In [30]:
study_hours

   Pass/Fail  mean_study_hours  min_study_hours  max_study_hours
0          0               4.0              1.0             10.0
1          1               8.0              5.0             10.0

In [32]:
#Calculating what ave, min & max scores on previous exams did students receive
previous_exam_score = df.groupby('Pass/Fail', as_index = False)\
    .agg({'Previous Exam Score' : ['mean', 'min', 'max']}).round(0)

previous_exam_score.columns = ['Pass/Fail', 'mean_previous_exam_score', 'min_previous_exam_score', 'max_previous_exam_score']

In [33]:
previous_exam_score

,Pass/Fail,mean_previous_exam_score,min_previous_exam_score,max_previous_exam_score
0,0,63.0,40.0,100.0
1,1,79.0,60.0,99.0

In [43]:
#merging results of two dataframes to have an overview
merged_data = study_hours \
    .merge(previous_exam_score, on = 'Pass/Fail')

In [44]:
merged_data

,Pass/Fail,mean_study_hours,min_study_hours,max_study_hours,mean_previous_exam_score,min_previous_exam_score,max_previous_exam_score
0,0,4.0,1.0,10.0,63.0,40.0,100.0
1,1,8.0,5.0,10.0,79.0,60.0,99.0

In [45]:
#reversing columns & rows for better visibility
merged_data.transpose()

                              0     1
Pass/Fail                   0.0   1.0
mean_study_hours            4.0   8.0
min_study_hours             1.0   5.0
max_study_hours            10.0  10.0
mean_previous_exam_score   63.0  79.0
min_previous_exam_score    40.0  60.0
max_previous_exam_score   100.0  99.0

In [47]:
#Assessing how much students of each type (1 = passed exam, 0 = failed exam) are in the dataframe
students = df["Pass/Fail"].value_counts()

print('# of students who passed: ', students[1])
print('# of students who failed: ', students[0])

# of students who passed:  184
# of students who failed:  316

In [48]:
#Showing what percentage of students who failed the exam spent more than average time to study

average_study_hours = df['Study Hours'].mean()

# Filtering the DataFrame for students who failed the exam
failed_students = df[df['Pass/Fail'] == 0]

# Checking the number of failed students who spent more than the average time studying
failed_students_above_average = failed_students[failed_students['Study Hours'] > average_study_hours]
num_failed_above_average = len(failed_students_above_average)

percentage_failed_above_average = (num_failed_above_average / len(failed_students)) * 100

# Displpaying results
print(f"Percentage of students who failed and spent more than average time studying: {percentage_failed_above_average:.2f}%")

Percentage of students who failed and spent more than average time studying: 28.16%

In [49]:
#Showing what percentage of students who passed the exam spent more than average time to study

average_study_hours = df['Study Hours'].mean()

# Filtering the DataFrame for students who passed the exam
passed_students = df[df['Pass/Fail'] == 1]

# Checking the number of students who passed test and spent more than the average time studying
passed_students_above_average = passed_students[passed_students['Study Hours'] > average_study_hours]
num_passed_above_average = len(passed_students_above_average)

percentage_passed_above_average = (num_passed_above_average / len(passed_students)) * 100

# Showing results
print(f"Percentage of students who passed and spent more than average time studying: {percentage_passed_above_average:.2f}%")

Percentage of students who passed and spent more than average time studying: 92.39%